#A {
    background-image: url("https://s3.amazonaws.com/weddingshoot/6-WALLPAPER.jpg");
    background-size: 100%;
}

#page {
    background-image: url("https://s3.amazonaws.com/weddingshoot/1-WALLPAPER.jpg");
    background-size: 100%;
}

h1 {
    background-color: brown;
    color: #D0D0D0;
    padding: 20px 20px 20px 80px;
}

ul {
    list-style-type: none;
    margin: 1.5;
    padding: 1.5;
}

#nav {
    clear: both;
    padding-top: .5em;
    font-size: 1.3em;
    text-align: center;
}

#firstlist li {
    width: 155px;
    display: inline-block;
    text-align: center;
    display: inline;
    padding: 20px;
    text-shadow: 2px 2px 4px #330033;
}

#firstlist li a {
    color: #D0D0D0;
}

.button {
    position: absolute;
    display: inline-block;
    border: 3px solid #330033;
    width: 90px;
    height: 90px;
    border-radius: 25px;
    background-size: cover;
    margin-left: 25px;
    position: relative;
    top: 5%;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

.button:hover {
    width: 120px;
    height: 120px;
}

.emotion {
    position: absolute;
    font-size: 1.3em;
    margin-bottom: 20%;
    margin-right: 50%;
    padding: 10px;
    top: 80%;
}

#button1 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/HappyImage.jpg);
}

#button2 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Calm2.jpg);
}

#button3 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Sad4.jpg);
}

#button4 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Dont+Know+How+I+Feel.jpg);
}

#weather {
    display: inline-block;
    width: 550px;
    height: 250px;
    background: brown;
    opacity: 0.6;
    border: 3px solid #330033;
    position:fixed;
    top:160px; 
    left:650px;  
}

#moodboard {
    display: inline-block;
    width: 550px;
    height: 250;
    background: brown;
    opacity: 0.6;
    top:160px;
    left:-35px;
    border: 3px solid #330033;
    position:fixed;
}

#weather p {
    margin-top: 5%;
    margin-left: 30%;
    text-decoration: underline;
    text-transform: capitalize;
    color: #D0D0D0;
    font-size: 1.5em;
    font-weight: bold;
}

#moodboard p {
    margin-top: 5%;
    margin-left: 30%;
    text-decoration: underline;
    text-transform: capitalize;
    color: #D0D0D0;
    font-size: 1.5em;
    font-weight: bold;
}
#button5 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Bright+Sunny+Day.JPG);
}

#button6 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/cloudy.jpg);
}

#button7 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Rain.jpg);
}

#button8 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Thunder.jpg);
}

</style> h1 {
    background-color: brown;
    color: #D0D0D0;
    padding: 20px 20px 20px 80px;
}

ul {
    list-style-type: none;
    margin: 1.5;
    padding: 1.5;
}

#nav {
    clear: both;
    padding-top: .5em;
    font-size: 1.3em;
    text-align: center;
}

#firstlist li {
    width: 155px;
    display: inline-block;
    text-align: center;
    display: inline;
    padding: 20px;
    text-shadow: 2px 2px 4px #330033;
}

#firstlist li a {
    color: #D0D0D0;
}

#moodboard {
    display: inline-block;
    margin-top: 50px;
    margin-right: 45px;
    margin-left: 100px;
    margin-bottom: 50px;
    width: 550px;
    height: 250;
    background: brown;
    opacity: 0.6;
    float: left;
    border: 3px solid #330033;
}

#moodboard p {
    margin-top: 5%;
    margin-left: 30%;
    text-decoration: underline;
    text-transform: capitalize;
    color: #D0D0D0;
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    position: absolute;
    display: inline-block;
    border: 3px solid #330033;
    width: 90px;
    height: 90px;
    border-radius: 25px;
    background-size: cover;
    margin-left: 25px;
    position: relative;
    top: 10%;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

.button:hover {
    width: 120px;
    height: 120px;
}

.caption {
    position: relative;
    font-size: 1em;
    top: 100%;
    left: -10%;
}

/*#button1 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Happy3.jpg);
}

#button2 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Calm2.jpg);
}

#button3 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Sad4.jpg);
}

#button4 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/DontKnowHowIFeel3.jpg);
}

#weather {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 550px;
    height: 250px;
    background: brown;
    opacity: 0.6;
    float: left;
    border: 3px solid #330033;
}

#weather p {
    margin-top: 5%;
    margin-left: 30%;
    text-decoration: underline;
    text-transform: capitalize;
    color: #D0D0D0;
    font-size: 1.5em;
    font-weight: bold;
}

#button5 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Sunny.jpg);
}

#button6 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/cloudy.jpg);
}

#button7 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Rain.jpg);
}

#button8 {
    background-image: url(https://s3.amazonaws.com/weddingshoot/Thunder.jpg);
}*/

</style>
